{
  "app": {
    "name": "golang-taaruf"
  },
  "web": {
    "prefork": false,
    "port": 3000,
     "cookie": {
      "name": "go-sso",
      "secure": false,
      "http_only": true,
      "max_age": 86400,
      "same_site": "Lax",
      "secret": "$2y$10$glTfhpK4kDZC6u9o.hQ0Ped.FsRvkW/DuCxetOozu.4gORDipkKdK"
    },
    "session": {
      "name": "abogoboga"
    }
  },
  "log": {
    "level": 6,
    "output": "stdout"
  },
  "database": {
    "driver": "mysql",
    "host": "127.0.0.1",
    "port": 3306,
    "username": "root",
    "password": "password",
    "name": "your-db",
    "pool": {
      "idle": 10,
      "max": 100,
      "lifetime": 300
    }
  },
  "rabbitmq": {
    "url": "amqp://guest:guest@localhost:5672/",
    "queue": "golang_lms"
  },
  "jwt": {
    "secret": "$2y$10$glTfhpK4kDZC6u9o.hQ0Ped.FsRvkW/DuCxetOozu.4gORDipkKdK"
  },
  "mail": {
    "host": "smtp.hostinger.com",
    "port": 465,
    "username": "support@presensi-amc.lanterntechno.com",
    "password": "$DemonLord1979",
    "from": "support@presensi-amc.lanterntechno.com"
  },
  "auth0": {
    "domain": "blablabla.us.auth0.com",
    "client_id": "your_client_id",
    "client_secret": "your_client_secret",
    "redirect_url": "http://localhost:8080/api/oauth/callback"
  }
}
